body {
    padding: 0;
    margin: 0;
    font-family: verdana;
}

*::selection {
    background-color: orangered;
    color: #fffcd6;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: rgb(0, 0, 0);
}

h1 {
    color: #0cee0c;
    text-align: center;
    font-size: 100px;
    margin-top: -220px;
}

.digit {
    font-size: 150px;
    color: #fff;
}

.txt {
    font-size: 30px;
    color: #fffcd6;
}

#buttons {
    margin-top: 50px;
}

.btn {
    width: 100px;
    padding: 10px 15px;
    margin: 0px 20px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 4px;
    border-top-left-radius: 4px;
    cursor: pointer;
    font-size: 20px;
    transition: 0.5s;
    color: white;
    font-weight: 500;
}

#start:hover {
    background-color: orangered;
}

#stop:hover {
    background-color: orangered;
}

#reset:hover {
    background-color: orangered;
}

#start {
    background-color: #009779;
}

#stop {
    background-color: #0e85fc;
}

#reset {
    background-color: #e013a3;
}